.nav.global {
    color: #999;
    box-shadow: 1px 0px 5px 2px rgba(170,170,170,0.33);
}

.nav.global .nav-up,
.nav.global .nav-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .15rem;
    padding-bottom: .15rem;
}
.logo {
    color: #024b8f;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif,sans-serif;
}

.nav.global .nav-up .link-group a {
    display: inline-block;
    vertical-align: middle;
    font-size: .9rem;
    color: inherit;
    margin-right: 1rem; 
}

.nav.global .nav-up .link-group a img {
    max-width: 1.3rem;
    width: 3rem;
    height: 3rem;
}

.nav.global .nav-down {
    padding-bottom: 1.5rem;
}

.nav.global .nav-down .link-group a {
    font-size: .9rem;
    color: inherit;
    margin-right: 1rem; 
}

.nav.global .search-group {
    width: 380px;
}

.nav.global .search-group input{
    width: 80%;
    padding: .3rem 1rem;
    border: 1px solid #999;
    border-right: none;
}

.nav.global .search-group button {
    width: 20%;
    font-size: .9rem;
    padding: .135rem;
    position: relative;
    top: 1px;
    border: #024b8f 1px solid;
    color: #fff;
    background: #024b8f;
}

.nav.page {
    text-align: center;
    padding-top: 1rem;
}

.nav.page .container {
    position: relative;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
}

.nav.page a {
    display: inline-block;
    padding: .3rem .8rem;
    color: #222;
}

.nav.page a:hover {
    box-shadow: 0 8px 10px 0 rgba(112, 112, 112, 0.2);
    background-color: #F6F4EE;
}

.nav.page .box {
    display: inline-block;
}

.box:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    background-color: #F6F4EE;
    left: 0;
}

.nav.page .box .dropdown-content a {
    width: 32%;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #999;
}

.dropdown-content, 
.parent {
    max-width: 940px;
}

.main {
    background: #F6F4EE;
    padding-top: 2rem;
}

.main .main-promotion,
.main .sub-promotion,
.main .outdoors,
.main .ending {
    background-image: url(../img/tree.png);
    background-size: 87%;
    background-position:top;
    background-repeat: repeat-y;
}

.main .main-promotion .container,
.main .outdoors .container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    background:rgba(250, 249, 246, 100);
    color: #222;
}

.main .main-promotion .title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.8rem;
}

.main .main-promotion .circle-group {
    background: #fff;
}

.main .main-promotion .circle-group,
.main .main-promotion .card-group,
.main .main-promotion .across {
    max-width: 1280px;
    margin-left: 25px;
    margin-right: 25px;
}

.main .main-promotion .circle-group .card {
    width: 16.3%;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main .main-promotion .circle-group .card .picture {
    width: 180px;
    height: 180px;
    background: #eee;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main .main-promotion .circle-group .card .picture:hover {
    background: transparent;
}

.main .main-promotion .circle-group .card .picture img {
    width: 37%;
    margin-top: 30%;
}

.main .main-promotion .circle-group .card .name {
    color: #222;
    padding-top: .9rem;
    font-size: 1rem;
    font-weight: 400;
}

.main .main-promotion .card-group {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main .main-promotion .card-group .rectangle-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.main .main-promotion .card-group .rectangle-card img {
    max-width: 420px;
}

.main .main-promotion .card-group .rectangle-card .title {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: .8rem;
    color: #999;
}

.main .main-promotion .across img {
    width: 100%;
}

.main .outdoors .title {
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.main .sub-promotion .container {
    background: rgba(250, 249, 246, 100);
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.main .sub-promotion .container .title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

.main .sub-promotion .product {
    display: flex; 
    justify-content: space-between;
    background: rgba(250, 249, 246, 100);
    margin-left: 25px;
    margin-right: 25px;
}

.main .sub-promotion .product img {
    width: 30%;
    height: 100%;
}

.main .outdoors .card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main .outdoors .card-group .card  {
    text-align: center;
    width: 33%;
}

.main .outdoors .card-group .card img {
    max-width: 330px;
}

.main .outdoors .card-group .card a {
    display: block;
    color: #222;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.main .ending .title,
.main .sub-promotion .title {
    color: #222;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 4rem;
    margin-left: 4rem;
}

.main .ending .container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(250, 249, 246, 100);
}

.main .ending .trademark-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main .ending .trademark-group a {
    width: 100%;
}

.main .ending .trademark-group img {
    max-width: 50%;
    display: inline-block;
}

.footer {
    background: rgba(250, 249, 246, 100);
}

.footer .major {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer .major .container {
    max-width: 1330px;
}

.footer .major .friendly-link {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer .major .friendly-link a:hover {
    color: #024b8f;
}

.footer .major .friendly-link .col > * {
    display: block;
    color: #444;
    line-height: 3rem;
}

.footer .major .friendly-link .col span {
    font-size: 1.1rem;
}

.footer .major .friendly-link .col a {
    font-size: .9rem;
    font-weight: 300;
}

.footer .major .friendly-link .service > * {
    padding-top: .8rem;
    padding-bottom: 1rem;
}

.footer .major .friendly-link .service {
    text-align: center;
    max-width: 500px;
    padding-left: 7rem;
    border-left: #ddd 1px solid;
}

.footer .major .friendly-link .service a:hover {
    color: #024b8f;
}

.footer .major .friendly-link .service .help {
    color: #444;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer .major .friendly-link .service .des,
.footer .major .friendly-link .service .fun-but div {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
    font-size: .9rem;
}

.footer .major .friendly-link .service .fun-but {
    display: flex;
    justify-content: center;
}

.footer .major .friendly-link .service .fun-but img {
    width: 40%;
}

.footer .icon {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #ddd 1px solid;
}

.footer .icon > * {
    vertical-align: middle;
}

.footer .icon span {
    color: #222;
    font-size: 1.1rem;
    margin: 0 1rem;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif,sans-serif;
}

.footer .icon img {
    width: 5%;
}

.footer .icon a {
    color: #024b8f;
    font-size: 1.1rem;
    padding: 1rem;
}

.footer .footer-middle-bottom {
    text-align: center;
    max-width: 666px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #ddd 1px solid;
}

.footer .footer-middle-bottom a,
.footer .info {
    color: #999;
    font-size: .7rem;
    padding: .3rem;
}

.footer .footer-middle-bottom a:hover {
    color: #024b8f;
}

.footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.footer .info .logo {
    font-size: 1.7rem;
    color: #999;
}

.footer .info .icon-group span {
    font-size: 1rem;
    position: relative;
    bottom: 3px;
}

.footer .info .icon-group a {
    margin-left: 1rem;
}

.footer .info img {
    max-width: 20px;
}