.nav.page {
    text-align: center;
    padding-top: 1rem;
}

.nav.page .container {
    position: relative;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
}

.nav.page a {
    display: inline-block;
    padding: .3rem .8rem;
    color: #222;
}

.nav.page a:hover {
    box-shadow: 0 8px 10px 0 rgba(112, 112, 112, 0.2);
    background-color: #F6F4EE;
}

.nav.page .box {
    display: inline-block;
}

.box:hover .dropdown-content {
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    background-color: #F6F4EE;
    left: 0;
}

.nav.page .box .dropdown-content a {
    width: 32%;
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #999;
}

.dropdown-content, 
.parent {
    max-width: 940px;
}

.main {
    background: #F6F4EE;
    padding-top: 2rem;
}

.main .main-promotion,
.main .sub-promotion,
.main .outdoors,
.main .ending {
    background-image: url(../img/tree.png);
    background-size: 87%;
    background-position:top;
    background-repeat: repeat-y;
}

.main .main-promotion .container,
.main .outdoors .container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    background:rgba(250, 249, 246, 100);
    color: #222;
}

.main .main-promotion .title {
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 1.8rem;
}

.main .main-promotion .circle-group {
    background: #fff;
}

.main .main-promotion .circle-group,
.main .main-promotion .card-group,
.main .main-promotion .across {
    max-width: 1280px;
    margin-left: 25px;
    margin-right: 25px;
}

.main .main-promotion .circle-group .card {
    width: 16.3%;
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.main .main-promotion .circle-group .card .picture {
    width: 180px;
    height: 180px;
    background: #eee;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.main .main-promotion .circle-group .card .picture:hover {
    background: transparent;
}

.main .main-promotion .circle-group .card .picture img {
    width: 37%;
    margin-top: 30%;
}

.main .main-promotion .circle-group .card .name {
    color: #222;
    padding-top: .9rem;
    font-size: 1rem;
    font-weight: 400;
}

.main .main-promotion .card-group {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.main .main-promotion .card-group .rectangle-card {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.main .main-promotion .card-group .rectangle-card img {
    max-width: 420px;
}

.main .main-promotion .card-group .rectangle-card .title {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: .8rem;
    color: #999;
}

.main .main-promotion .across img {
    width: 100%;
}

.main .outdoors .title {
    padding: 1.5rem 0;
    font-size: 2.5rem;
    text-align: center;
}

.main .sub-promotion .container {
    background: rgba(250, 249, 246, 100);
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.main .sub-promotion .container .title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
}

.main .sub-promotion .product {
    display: flex; 
    justify-content: space-between;
    background: rgba(250, 249, 246, 100);
    margin-left: 25px;
    margin-right: 25px;
}

.main .sub-promotion .product img {
    width: 30%;
    height: 100%;
}

.main .outdoors .card-group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main .outdoors .card-group .card  {
    text-align: center;
    width: 33%;
}

.main .outdoors .card-group .card img {
    max-width: 330px;
}

.main .outdoors .card-group .card a {
    display: block;
    color: #222;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.main .ending .title,
.main .sub-promotion .title {
    color: #222;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 4rem;
    margin-left: 4rem;
}

.main .ending .container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(250, 249, 246, 100);
}

.main .ending .trademark-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main .ending .trademark-group a {
    width: 100%;
}

.main .ending .trademark-group img {
    max-width: 50%;
    display: inline-block;
}