* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 p {
    margin: 0;
    color: #2a2e31;
}

input {
    border-radius: 3px 0 0 3px;
    outline:none;
}

button {
    border-radius: 0 3px 3px 0;
    outline:none;
}

.container {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.text-right {
    text-align: right;
}

.main img {
    transition: all .2s;
}

.main img:hover {
    transform: scale(1.02);
    box-shadow: 0 0  50px transparent;
}

.search-group {
    font-size: 0;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.cl {
    content: '';
    clear: both;
    display: block;
}

.col-1 {
    flex-basis: 4.166666666666667%;
}

.col-2 {
    flex-basis: 8.333333333333333%;
}

.col-3 {
    flex-basis: 12.5%;
}

.col-4 {
    flex-basis: 16.6666666666667%;
}

.col-5 {
    flex-basis: 20.8333333333333%;
}

.col-6 {
    flex-basis: 25%;
}

.col-7 {
    flex-basis: 29.166666666667%;
}

.col-8 {
    flex-basis: 33.3333333333333%;
}

.col-9 {
    flex-basis: 37.5%;
}

.col-10 {
    flex-basis: 41.666666666667%;
}

.col-11 {
    flex-basis: 45.83333333333333%;
}

.col-12 {
    flex-basis: 50%;
}

.col-13 {
    flex-basis: 54.1666666666667%;
}

.col-14 {
    flex-basis: 58.3333333333333%;
}

.col-15 {
    flex-basis: 62.5%;
}

.col-16 {
    flex-basis: 66.66666666666667%;
}

.col-17 {
    flex-basis: 70.83333333333333%;
}

.col-18 {
    flex-basis: 75%;
}

.col-19 {
    flex-basis: 79.16666666667%;
}

.col-20 {
    flex-basis: 83.33333333333%;
}

.col-21 {
    flex-basis: 87.5%;
}

.col-22 {
    flex-basis: 91.666666666666667%;
}

.col-23 {
    flex-basis: 95.833333333333333%;
}

.col-24 {
    flex-basis: 100%;
}

.nav.global {
    color: #999;
    box-shadow: 1px 0px 5px 2px rgba(170,170,170,0.33);
}

.nav.global .nav-up,
.nav.global .nav-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .15rem;
    padding-bottom: .15rem;
}
.logo {
    color: #024b8f;
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif,sans-serif;
}

.nav.global .nav-up .link-group a {
    display: inline-block;
    vertical-align: middle;
    font-size: .9rem;
    color: inherit;
    margin-right: 1rem; 
}

.nav.global .nav-up .link-group a img {
    max-width: 1.3rem;
    width: 3rem;
    height: 3rem;
}

.nav.global .nav-down {
    padding-bottom: 1.5rem;
}

.nav.global .nav-down .link-group a {
    font-size: .9rem;
    color: inherit;
    margin-right: 1rem; 
}

.nav.global .nav-up .link-group a:hover,
.nav.global .nav-down .link-group a:hover {
    color: #024b8f;
}

.nav.global .search-group {
    width: 380px;
}

.nav.global .search-group input{
    width: 80%;
    padding: .3rem 1rem;
    border: 1px solid #999;
    border-right: none;
}

.nav.global .search-group button {
    width: 20%;
    font-size: .9rem;
    padding: .135rem;
    position: relative;
    top: 1px;
    border: #024b8f 1px solid;
    color: #fff;
    background: #024b8f;
}

.footer {
    background: rgba(250, 249, 246, 100);
}

.footer .major {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer .major .container {
    max-width: 1330px;
}

.footer .major .friendly-link {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer .major .friendly-link a:hover {
    color: #024b8f;
}

.footer .major .friendly-link .col > * {
    display: block;
    color: #444;
    line-height: 3rem;
}

.footer .major .friendly-link .col span {
    font-size: 1.1rem;
}

.footer .major .friendly-link .col a {
    font-size: .9rem;
    font-weight: 300;
}

.footer .major .friendly-link .service > * {
    padding-top: .8rem;
    padding-bottom: 1rem;
}

.footer .major .friendly-link .service {
    text-align: center;
    max-width: 500px;
    padding-left: 7rem;
    border-left: #ddd 1px solid;
}

.footer .major .friendly-link .service a:hover {
    color: #024b8f;
}

.footer .major .friendly-link .service .help {
    color: #444;
    font-weight: 500;
    font-size: 1.2rem;
}

.footer .major .friendly-link .service .des,
.footer .major .friendly-link .service .fun-but div {
    color: #444;
    line-height: 1.6;
    font-weight: 300;
    font-size: .9rem;
}

.footer .major .friendly-link .service .fun-but {
    display: flex;
    justify-content: center;
}

.footer .major .friendly-link .service .fun-but img {
    width: 40%;
}

.footer .icon {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: #ddd 1px solid;
}

.footer .icon > * {
    vertical-align: middle;
}

.footer .icon span {
    color: #222;
    font-size: 1.1rem;
    margin: 0 1rem;
    font-style: italic;
    font-family: Lora,'Times New Roman',serif,sans-serif;
}

.footer .icon img {
    width: 5%;
}

.footer .icon a {
    color: #024b8f;
    font-size: 1.1rem;
    padding: 1rem;
}

.footer .footer-middle-bottom {
    text-align: center;
    max-width: 666px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #ddd 1px solid;
}

.footer .footer-middle-bottom a,
.footer .info {
    color: #999;
    font-size: .7rem;
    padding: .3rem;
}

.footer .footer-middle-bottom a:hover {
    color: #024b8f;
}

.footer .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.footer .info .logo {
    font-size: 1.7rem;
    color: #999;
}

.footer .info .icon-group span {
    font-size: 1rem;
    position: relative;
    bottom: 3px;
}

.footer .info .icon-group a {
    margin-left: 1rem;
}

.footer .info img {
    max-width: 20px;
}