img {
    max-width: 100%;
    display: block;
}

.container {
    width: 800px;
    height: 533px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    /* overflow: hidden; */
    position: relative;
}

.slider {
    position: absolute;     /* 要往左移 就要开启绝对定位 */
    left: 0px;
}

.item {
    opacity: 1;
    display: inline-block;
    transition: all 1s;
    float: left;
}